 body {
      font-family: Arial, sans-serif;
    }
    
    h1 {
      text-align: center;
    }
    
    .container {
      background-color: lightblue;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
     }
    
    .converter {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      background-color: cadetblue;
    }
    
    .converter label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    .converter input[type="text"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
    
    .converter button {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      background-color: limegreen;
      color: white;
      font-weight: bold;
    }
    #submit:hover{
    background-color: lightgreen;
    cursor: pointer;
}

    
    .result {
      margin-top: 20px;
      text-align: center;
      font-weight: bold;
    }